# ===============================================
# application pathes
# ===============================================
vendor
node_modules
composer.lock
# ===============================================
# dashboard
# ===============================================
public/storage
storage/*
# ===============================================
# not secured to commit these ones
# ===============================================
.vscode
.env
