# ===============================================
# application pathes
# ===============================================
vendor
node_modules
.phpunit.result.cache
.php_cs.cache

# ===============================================
# not secured to commit these ones
# ===============================================
.vscode
.DS_Store
.env
.env.local
.env.testing
.env-testing

# ===============================================
# Bothering me
# ===============================================
package-lock.json
_ide_helper.php
.php-cs-fixer.cache
