/*===============================================================================================*/
/*nav*/

nav {
    /*height of the logo*/
    padding: 0;
    margin: 0 auto 0;
    background-color: #fff;
    min-height: $navbar-height;
}

.navbar-default .nav li a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-weight: 600;
    border-top: 6px solid transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > .nav-item > .active,
.navbar-default .navbar-nav > .nav-item > a:hover {
    background: 0 0;
    border-top: 6px solid $main-color;
}

.navbar-brand {
    padding: 10px;
    transition: padding 0.5s;
}
